body {
  background-image: url("./images/weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Uchen", serif;
  text-align: center;
}

h1 {
  color: #070707;
  font-size: 20px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  text-align: center;
}

ul {
  margin: 0 0 10px;
  padding: 0;
  color: #070707;
  text-align: center;
}

li {
  color: #070707;
  font-size: 16px;
  font-weight: 300;
  height: 22px;
  line-height: 1;
  list-style: none;
  margin-left: -32px;
}
li:first-letter {
  text-transform: capitalize;
}
footer {
  text-align: center;
  text-decoration: none;
}

.details {
  text-align: center;
  font-size: 15px;
  margin-bottom: 5px;
}

.weather-app,
.next-days-wrapper {
  border: 1px solid #dadde1;
  padding: 25px;
  border-radius: 10px;
  margin: 30px auto;
  max-width: 600px;
  box-shadow: 2px 2px 2px 1px rgba(177, 172, 172, 0.2);
  background: linear-gradient(to bottom left, #24248f 0%, #ffff99 100%);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 75px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.overview {
  margin-bottom: 20px;
}

.fa-droplet,
.fa-wind,
.fa-gauge {
  color: rgba(26, 25, 25, 0.8);
}
.temperature {
  color: #070707;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -50px;
}
.icons {
  top: 35px;
  position: relative;
}

.search-form {
  margin-bottom: 20px;
}

.next-days-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  font-size: 23px;
}

.next-days-date {
  font-size: 16px;
  opacity: 0.5;
}
.next-days-temperature-min {
  opacity: 0.5;
  font-size: 14px;
}

.next-days-temperature-max {
  font-size: 18px;
}

.coder {
  font-style: italic;
  font-weight: bold;
}

footer {
  color: #ffffff;
}
